<template>
  <div class="row" :class="{'row-drag-over': dragAvailable}" @click.self="focus">
    <div v-for="(token, index) in tokens" :key="index" draggable="true" class="row-item" @dragstart="dragStart(index)">
      <token :val.sync="token.value" :token="token" @remove="removeToken(index)"></token>
    </div>

    <div
      class="row-input"
      contenteditable="true"
      ref="input"
      type="number"
      @input="input"

      @keydown.enter.prevent="add"
      @keydown.delete="remove"
      @keydown.space.stop.prevent
      @keydown="keydown"

      @dragenter.prevent="dragEnter"
      @dragover.prevent
      @dragleave.prevent="dragLeave"
      @drop.prevent="drop"
    ></div>

    <div class="row-result" v-show="result" draggable="true" @dragstart="dragStart(null)">
      <span v-html="'=&nbsp;'"></span>{{ result }}
    </div>
  </div>
</template>

<script>
import { evaluate } from 'mathjs'

import Token from './Token'
import { isOperation, isItNumber, isEqualOperation } from '../helpers'
import { KeydownMixins } from '../mixins'

export default {
  name: 'app',
  components: { Token },
  mixins: [KeydownMixins],
  props: {
    item: { type: Array, default: () => [] },
    index: { type: Number }
  },
  data() {
    return {
      val: '',
      tokens: [],
      dragAvailable: false,
      lock: false
    }
  },
  created() {
    this.tokens = this.item
  },
  mounted() {
    this.focus()
  },
  methods: {
    input() {
      const val = this.$refs.input.innerText.replace(/\n/g, '').trim()
      this.val = this.$refs.input.innerText

      if (this.isLastTokenNumber()) {
        if (isOperation(val)) {
          this.addToken(val, false)
        }
        return this.clear()
      }

      const re = new RegExp('^(-?[\\d]+?\\.?[\\d]*)([+\\-\\/*=]?)$')
      const parsed = re.exec(val)

      if (val === '-') return // отрицательное число
      if (parsed === null) return this.clear()
      if (parsed[2] === '') return // операции пока нет нет, слушаем инпут

      // операция вместе с чиселкой
      this.addToken(parsed[1], true)
      if (!isEqualOperation(parsed[2])) {
        this.addToken(parsed[2], false)
      }

      return this.clear()
    },
    add() {
      const value = this.$refs.input.innerText
      if ( !(value && isItNumber(value)) ) return

      if (this.$store.proxy) {
        const token = this.$store.proxy
        this.tokens.push(token)
      }
      else {
        this.addToken(value, true)
      }
      this.clear()
    },
    remove() {
      if (this.$refs.input.innerText !== '') return

      const token = this.tokens.pop()
      if (token && token.links >= 0) {
        token.links = token.links > 1 ? token.links - 1 : 0
      }
    },
    focus() {
      this.$refs.input.focus()
    },
    clear() {
      this.$refs.input.innerText = ''
      this.val = ''
      this.$store.proxy = null
      this.$store.original = null
    },
    isLastTokenNumber() {
      if (this.tokens.length === 0) return false
      return this.tokens[this.tokens.length - 1].isNumber
    },
    removeToken(index) {
      // при удалении первого удаляется следующий, иначе предыдущий
      const neighbour = index === 0 ? index + 1 : index - 1
      let tokens = this.tokens.filter((t, i) => (i !== index) && (i !== neighbour))

      this.$nextTick(() => {
        this.tokens = [...tokens]
      })
    },
    addToken(value, isNumber) {
      const randomColor = Math.floor(Math.random()*16777215).toString(16);
      this.tokens.push({ value: value, isNumber: isNumber, color: randomColor })
    },
    // drag'n'drop events
    dragStart(index) {
      this.$store.proxy = null
      this.$store.original = null

      // переносим result
      if (index === null) {
        return this.$store.proxy = { value: this.result.toString(), isNumber: true }
      }

      if (isItNumber(this.tokens[index].value)) {
        this.$store.original = this.tokens[index]
        return this.$store.proxy = new Proxy(this.tokens[index], {})
      }

      // перенос токена операции
      this.$store.proxy = Object.assign({}, this.tokens[index])
    },
    dragEnter() {
      this.dragAvailable = true
    },
    dragLeave() {
      this.dragAvailable = false
    },
    drop() {
      const value = this.$store.proxy.value
      this.dragAvailable = false
      this.$refs.input.innerText = value

      this.focus()

      if (isItNumber(value) && this.isLastTokenNumber()) return this.clear()

      if (this.$store.original) this.$store.incrLink()

      if (isItNumber(value)) return this.add()
      this.input()
    }
  },
  computed: {
    result: function () {
      try {
        if (this.isLastTokenNumber()) {
          return evaluate(this.tokens.map(e => e.value).join(''))
        }

        const tokens = [...this.tokens]

        if (isItNumber(this.val)) {
          tokens.push({ value: this.val })
        }
        else {
          // скипаем последнюю операцию
          tokens.pop()
        }
        return evaluate(tokens.map(e => e.value).join(''))
      } catch (e) {
        return ''
      }
    }
  },
  watch: {
    tokens: {
      deep: true,
      handler: function () {
        if (this.lock) return

        // очищаем артефакты
        if ( this.tokens.filter(t => t.value === '').length ) {
          this.lock = true
          this.tokens = this.tokens.filter(t => t.value && t.value.length)
          this.lock = false
        }
      }
    }
  }
}
</script>

<style>
.row {
  display: flex;
  flex-grow: 1;
  font-size: 30px;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid lightgray;
  height: 83px;
  margin-bottom: 20px;
}
.row:focus-within {
  border: 1px solid lightskyblue;
}
.row-input {
  min-width: 90px;
  text-align: left;
  align-self: center;
  display: flex;
  margin-right: 10px;
  flex-grow: 1;
}
.row-input:focus {
  outline: none;
}
.row-result {
  align-self: center;
  background: skyblue;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
}
.row-item {
  align-self: center;
}

.row-drag-over {
  border: 1px solid lightgreen;
}
</style>
