<template>
  <div
    class="token"
    :style="tokenColor"
    :contenteditable="editable"
    @click="edit"
    @input="input"
    @blur="blur"

    @keydown.enter.prevent="submit"
    @keydown="keydown"
  ></div>
</template>

<script>
import { KeydownMixins } from '../mixins'

export default {
  mixins: [KeydownMixins],
  props: {
    val: { type: String, required: true },
    token: { type: Object, required: true }
  },
  data() {
    return {
      editable: false
    }
  },
  mounted() {
    this.$el.innerText = this.val
  },
  computed: {
    tokenColor() {
      return {
        'background': this.token.links ? '#' + this.token.color : '#2c3e50'
      }
    }
  },
  methods: {
    edit() {
      this.editable = true
    },
    input($e) {
      this.$emit('update:val', $e.target.innerText)
      if ($e.target.innerText === '') this.$emit('remove')
    },
    blur() {
      this.$el.blur()
      this.editable = false
    },
    submit($e) {
      this.input($e)
      this.blur()
    }
  },
  watch: {
    val: function (v) {
      if (v !== this.$el.innerText) {
        this.$el.innerText = v
      }
      this.$forceUpdate()
    }
  }
}
</script>

<style scoped>
.token {
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-right: 5px;
}
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
</style>
