<template>
  <div id="app">
    <row v-for="(row, index) in rows" :item="row" :key="index" :index="index" @remove="remove(index)"></row>

    <div class="new-row" :class="{'drag-over': dragAvailable}"
      @dragenter.prevent="dragEnter"
      @dragover.prevent
      @dragleave.prevent="dragLeave"
      @drop.prevent="drop"
      @click="add([])"
    >
      Кликни, чтобы добавить строку или перенеси чиселку сюда
    </div>
  </div>
</template>

<script>
import Row from './components/Row'
import { isItNumber } from './helpers'

export default {
  components: { Row },
  data() {
    return {
      rows: [],
      dragAvailable: false
    }
  },
  created() {
    this.rows.push([])
  },
  methods: {
    dragEnter() {
      this.dragAvailable = true
    },
    dragLeave() {
      this.dragAvailable = false
    },
    drop() {
      this.dragAvailable = false

      if (this.$store.proxy) {
        const token = this.$store.proxy
        if (!isItNumber(token.value)) return

        this.add([ token ])

        if (this.$store.original) this.$store.incrLink()

        this.$store.original = null
        this.$store.proxy = null
      }
    },
    remove(index) {
      this.rows = this.rows.filter((e, i) => i !== index)
    },
    add(token = [],) {
      this.rows.push(token)
    }
  }
}
</script>

<style>
#app {
  display: flex;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  flex-direction: column;
}
.new-row {
  background: lightblue;
  width: 100%;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #10556b;
  cursor: pointer;
}
.new-row:hover {
  background: skyblue;
}
.drag-over {
  background: skyblue;
}
</style>
